.l-header {
  height: 80px;
  &__inner {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-top: 20px;
  }
  &__logo {
    .logo {
      font-size: 2em;
    }
  }
  &-nav {
    &__list {
      display: flex;
      justify-content: space-around;
    }
    &__item {
      padding: 0 10px;
    }
  }
}