@use "../../global" as g;
.p-mv {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-image: url("../../../images/top.jpg");
  background-color:rgba(0,0,0,0.2);
  background-blend-mode:lighten;
  background-size: cover;
  @include g.mq(md) {
    background-position-x: 22%;
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    color: #fff;
    text-align: center;
    padding-top: 40vh;
  }
}