<div class="p-mv">
  <div class="p-mv__inner">
    <div class="p-mv__heading">
      <h2 class="c-heading">つぶやきでコミュニティを<br class="u-sp-line">広げよう<br></h2>
      <p class="c-heading-Sub">今の気持ちをつぶやいてみよう</p>
    </div>
  </div>
</div>